extends layout

block content
  form(method="post" action="http://localhost:8000/schedules/c3b8086b-2929-40c2-adae-0651ba780fa2/users/54149732/coments")
    input(type="hidden" name="comment" value="騙されましたね")
    button(type="submit") ボタンを押してみてください